<h2 mat-dialog-title>Add New Password</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addForm" >
    <mat-form-field appearance="outline">
      <mat-label>Discription</mat-label>
      <textarea matInput placeholder="Placeholder" formControlName="discription"></textarea>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="username">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" formControlName="password">
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="addForm.value" cdkFocusInitial [disabled]="addForm.invalid">Install</button>
</mat-dialog-actions>
